.body {
    font-family: Hannari, Meiryo, sans-serif;
    background-color: #EECCFF;
}
.navbar {
    position: sticky;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}
#mainNavbar .nav-item {
    color: #8d8e8f;
    font-size: 1.3rem;
}
#mainNavbar .nav-item:hover {
    color: #ea1c2c;
}