/* カレンダー日替わり画像付き css */
/* auth 堀田拓郎 */

.body {
    font-family: "メイリオ", Meiryo, sans-serif;
    background-color: #EECCFF; /*hsv 280.20.100*/
}
.navbar {
    position: sticky;
}
.content {
    margin-top: 15px;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100; /* navbar background HSV 210.2.93 */
}
#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}
#mainNavbar .nav-item {
    color: #8d8e8f;
    font-size: 1.3rem;
}
#mainNavbar .nav-item:hover {
    color: #ea1c2c;
}

.f1, .f2, .f4, .f6, .f8, .f10 {
    height: 28px;
    background-color: #CFD1D3; /* 210.2.83 */ /*旧hsv 190.8.74*/
}
.f3, .f5, .f7, .f9 {
    height: 70px;
    background-color: #DBDEE0; /* 210.2.88 */ /*旧hsv 170.8.74*/
}
.bi {
    height: 68px;
    overflow: hidden;
}
/* 非選択時のデフォルトの境界線を非表示 */
.bi.bi-action:not(.selected) {
    border-color: transparent; /* デフォルトの境界線を透明 */
}
.Sunday {
    background-color: #525354;  /* HSV 210.2.33 */
}
.Monday {
    background-color: #B6B8BA;  /* hsv 210.2.73 */ /* 旧 #99cc00 */
}
.Tuesday {
    background-color: #A9ABAD;  /*68 */
}
.Wednesday {
    background-color: #9D9FA0;  /*63 */
}
.Thursday {    
    background-color: #909293;  /*58 */
}
.Friday {    
    background-color: #848587;  /* HSV 210. 2. 53*/
}
.Saturday {    
    background-color: #6B6C6D;
}
.im {
    max-width: 100%;
    height: auto;
    cursor: pointer; /* マウスオーバー時にポインターを表示 */
}

.searchImg {
    max-width: 100%;
    height: auto;
}

@media (min-width: 481px) {
    .f1, .f2, .f4, .f6, .f8, .f10 {
        height: 28px;
    }
    .f3, .f5, .f7, .f9 {
        height: 70px;
    }
    .bi {
        height: 68px;
        overflow: hidden;
    }
    /* 非選択時のデフォルトの境界線を非表示 */
    .bi.bi-action:not(.selected) {
    border-color: transparent; /* デフォルトの境界線を透明 */
    }
    .im {
        max-width: 100%;
        height: auto;
        cursor: pointer; /* マウスオーバー時にポインターを表示 */
    }
    .searchImg {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 960px) {
    .f1, .f2, .f4, .f6, .f8, .f10 {
        height: 28px;
    }
    .f3, .f5, .f7, .f9 {
        height: 70px;
    }
    .bi {
        height: 68px;
        overflow: hidden;
    }
    /* 非選択時のデフォルトの境界線を非表示 */
    .bi.bi-action:not(.selected) {
    border-color: transparent; /* デフォルトの境界線を透明 */
    }
    .im {
        max-width: 100%;
        height: auto;
        cursor: pointer; /* マウスオーバー時にポインターを表示 */
    }
    .searchImg {
        max-width: 100%;
        height: auto;
    }
}