/* カレンダー日替わり画像付き css */
/* auth 堀田拓郎 */

.body {
    font-family: "メイリオ", Meiryo, sans-serif;
    background-color: #EECCFF; /*hsv 280.20.100*/
}
.navbar {
    position: sticky;
}
.content {
    margin-top: 15px;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}
#mainNavbar .nav-item {
    color: #8d8e8f;
    font-size: 1.3rem;
}
#mainNavbar .nav-item:hover {
    color: #ea1c2c;
}

.f1, .f2, .f4, .f6, .f8, .f10 {
    height: 28px;
    background-color: #ADBABC; /*hsv 190.8.74*/
}
.f3, .f5, .f7, .f9 {
    height: 70px;
    background-color: #ADBCBA; /*hsv 170.8.74*/
}
.bi {
    height: 68px;
    overflow: hidden;
}
/* 非選択時のデフォルトの境界線を非表示 */
.bi.bi-action:not(.selected) {
    border-color: transparent; /* デフォルトの境界線を透明 */
}
.Sunday {
    background-color: #BCADAD;
}
.Monday {
    background-color: #ADB5BC /*#99cc00 hsv 75. 100. 80 */
}
.Tuesday {
    background-color: #ADB2BC;
}
.Wednesday {
    background-color: #ADB0BC;
}
.Thursday {    
    background-color: #ADADBC;
}
.Friday {    
    background-color: #B0ADBC;      /*115. 100. 80*/
}
.Saturday {    
    background-color: #BCADB0;
}
.im {
    max-width: 100%;
    height: auto;
    cursor: pointer; /* マウスオーバー時にポインターを表示 */
}

.searchImg {
    max-width: 100%;
    height: auto;
}

@media (min-width: 481px) {
    .f1, .f2, .f4, .f6, .f8, .f10 {
        height: 28px;
    }
    .f3, .f5, .f7, .f9 {
        height: 70px;
    }
    .bi {
        height: 68px;
        overflow: hidden;
    }
    /* 非選択時のデフォルトの境界線を非表示 */
    .bi.bi-action:not(.selected) {
    border-color: transparent; /* デフォルトの境界線を透明 */
    }
    .im {
        max-width: 100%;
        height: auto;
        cursor: pointer; /* マウスオーバー時にポインターを表示 */
    }
    .searchImg {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 960px) {
    .f1, .f2, .f4, .f6, .f8, .f10 {
        height: 28px;
    }
    .f3, .f5, .f7, .f9 {
        height: 70px;
    }
    .bi {
        height: 68px;
        overflow: hidden;
    }
    /* 非選択時のデフォルトの境界線を非表示 */
    .bi.bi-action:not(.selected) {
    border-color: transparent; /* デフォルトの境界線を透明 */
    }
    .im {
        max-width: 100%;
        height: auto;
        cursor: pointer; /* マウスオーバー時にポインターを表示 */
    }
    .searchImg {
        max-width: 100%;
        height: auto;
    }
}