/* カレンダー日替わり画像付き css */
/* auth 堀田拓郎 */

.body {
    font-family: "メイリオ", Meiryo, sans-serif;
    background-color: #f5d9d5;
}
.content {
    margin-top: 45px;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}
#mainNavbar .nav-item {
    color: #8d8e8f;
    font-size: 1.3rem;
}
#mainNavbar .nav-item:hover {
    color: #ea1c2c;
}

.f1, .f2, .f4, .f6, .f8, .f10 {
    height: 28px;
    background-color: aliceblue;
}
.f3, .f5, .f7, .f9 {
    height: 70px;
    background-color: azure;
}
.bi {
    height: 68px;
    overflow: hidden;
}
/* 非選択時のデフォルトの境界線を非表示 */
.bi.bi-action:not(.selected) {
    border-color: transparent; /* デフォルトの境界線を透明 */
}
.Sunday {
    background-color: #ff00b3;
}
.Monday {
    background-color: #99cc00;
}
.Tuesday {
    background-color: #ccff33;
}
.Wednesday {
    background-color: #669900;
}
.Thursday {    
    background-color: #99cc33;
}
.Friday {    
    background-color: #ccff66;
}
.Saturday {    
    background-color: #0084ff;
}
.im {
    max-width: 100%;
    height: auto;
    cursor: pointer; /* マウスオーバー時にポインターを表示 */
}

.searchImg {
    max-width: 100%;
    height: auto;
}

@media (min-width: 481px) {
    .f1, .f2, .f4, .f6, .f8, .f10 {
        height: 28px;
    }
    .f3, .f5, .f7, .f9 {
        height: 70px;
    }
    .bi {
        height: 68px;
        overflow: hidden;
    }
    /* 非選択時のデフォルトの境界線を非表示 */
    .bi.bi-action:not(.selected) {
    border-color: transparent; /* デフォルトの境界線を透明 */
    }
    .Sunday {
        background-color: #ff00b3;
    }
    .Monday {
        background-color: #99cc00;
    }
    .Tuesday {
        background-color: #ccff33;
    }
    .Wednesday {
        background-color: #669900;
    }
    .Thursday {    
        background-color: #99cc33;
    }
    .Friday {    
        background-color: #ccff66;
    }
    .Saturday {    
        background-color: #0084ff;
    }
    .im {
        max-width: 100%;
        height: auto;
        cursor: pointer; /* マウスオーバー時にポインターを表示 */
    }
    .searchImg {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 960px) {
    .f1, .f2, .f4, .f6, .f8, .f10 {
        height: 28px;
    }
    .f3, .f5, .f7, .f9 {
        height: 70px;
    }
    .bi {
        height: 68px;
        overflow: hidden;
    }
    /* 非選択時のデフォルトの境界線を非表示 */
    .bi.bi-action:not(.selected) {
    border-color: transparent; /* デフォルトの境界線を透明 */
    }
    .Sunday {
        background-color: #ff00b3;
    }
    .Monday {
        background-color: #99cc00;
    }
    .Tuesday {
        background-color: #ccff33;
    }
    .Wednesday {
        background-color: #669900;
    }
    .Thursday {    
        background-color: #99cc33;
    }
    .Friday {    
        background-color: #ccff66;
    }
    .Saturday {    
        background-color: #0084ff;
    }
    .im {
        max-width: 100%;
        height: auto;
        cursor: pointer; /* マウスオーバー時にポインターを表示 */
    }
    .searchImg {
        max-width: 100%;
        height: auto;
    }
}